@charset "utf-8";

/*320-639分辨率*/
@media only screen and (max-width:639px) and (min-width:320px) {
	html,body{
		font-size: 14px;
	}
	
	/*tab区*/
	.tab-title a{
		padding: 3.4% 0;
	}
	.list-tab-title a{
		padding: 3.4% 0;
	}
	/*表单区*/
	.form-name,.form-phone,.form-weixin{
		height: 24px;
		margin-bottom: 9px;
		font-size: 12px;
	}
	.submit{
		height: 25px;
		font-size: 12px;
		margin-top: 6px;
	}
	::-webkit-input-placeholder {
  	color: #fff;
  	letter-spacing: 1px;
}
}
